<header>
    <h1 class="center">Testlink2</h1>
    <h2><i>This new front-end webapp just calls for XMLRPC Testlink API</i></h2>
</header>
<aside
Side menu
></aside>
<section>
    Main content
</section>
<footer>
    Footer
</footer>
{{outlet}}